body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #121212;
    color: white;
}

.navbar {
    background: #1f1f1f;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #00ffcc;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.card {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,255,204,0.3);
}

.card img {
    width: 800px;
    border-radius: 10px;
}
